<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja - student Sumit</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <!-- this next line will contain a forum pg -->
        
        <li><a href="/blogs/create">Create New Blog</a></li>

    </ul>
</nav>