<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
    
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Hey I am a 4th yr udergrad</p>
        <p>Hey I am in CSE branch</p>
        <p>How do you do ? </p>

    </div>

    
<%- include('./partials/footer.ejs') %>
</body>
</html>